<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{languages.wfroute|| "Work flow Route"}}
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> {{languages.home}}</a>
      </li>
      <li class="active"> {{languages.wfroute|| "Work flow Route"}}</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-primary idrequest-search">
          <div class="box-header with-border">
            <i class="ion ion-clipboard"></i>
            <h3 class="box-title"> {{languages.search}}</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-primary btn-xs pull-right" data-widget="collapse"
                data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body">
            <form class="form-horizontal" name="formsearch" #ff="ngForm">
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label for="postDate" class="col-sm-3 control-label">{{languages.workflow || "Work flow"}}</label>
                    <div class="col-sm-6">
                      <select class="form-control" name="codeType" [(ngModel)]="searchModel.wkid" #codeType="ngModel"
                        (change)="getListWfRoute(searchModel.wkid)">
                        <option *ngFor="let c of listWorkflowID" [ngValue]="c.wkid">{{c.workFlowDesc}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                </div>
              </div>
            </form>
          </div>
          <div class="box-footer group-btn-right">
          </div>
        </div>
      </div>
    </div>

    <!-- Info boxes -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <dx-data-grid #gridContainer
          id="gridContainer"
          [dataSource]="dataSource"
          (onEditorPreparing)="onEditorPreparing($event)"
          (onRowInserting)="saveWfRoute($event)"
          (onRowUpdating)="updatetWfRoute($event)"
          (onRowRemoving)="deletewfroute($event)">

          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxo-group-panel [visible]="true"></dxo-group-panel>
          <dxo-state-storing [enabled]="true" type="custom"></dxo-state-storing>
          <!-- <dxo-column-chooser [enabled]="true"></dxo-column-chooser> -->
          <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

          <dxi-column dataField="wkid" dataType="string" caption="Work flow">
            <dxi-validation-rule type="required"></dxi-validation-rule>
            <dxo-lookup [dataSource]="listWorkflowID" displayExpr="workFlowDesc" valueExpr="wkid">
            </dxo-lookup>
          </dxi-column>
          <dxi-column dataField="itemNo" dataType="number" caption="itemNo">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-column>

          <dxi-column dataField="roleCode" caption="roleCode" [width]="125">
            <dxi-validation-rule type="required"></dxi-validation-rule>
            <dxo-lookup [dataSource]="listRoleCode" itemTemplate="listItem" displayExpr="codeDesc" valueExpr="codeId">
            </dxo-lookup>
          </dxi-column>

          <dxi-column dataField="conditionType" dataType="string" caption="conditionType">
            <dxi-validation-rule type="required"></dxi-validation-rule>
            <dxo-lookup [dataSource]="listconditionType" displayExpr="conditionTypeDesc" valueExpr="conditionType">
            </dxo-lookup>
          </dxi-column>
          <dxi-column dataField="conditionValue1" dataType="string" caption="conditionValue1">
          </dxi-column>
          <dxi-column dataField="conditionValue2" dataType="string" caption="conditionValue2">
          </dxi-column>
          <dxi-column dataField="conditionValue3" dataType="string" caption="conditionValue3">
          </dxi-column>
          <dxi-column dataField="conditionValue4" dataType="string" caption="conditionValue4">
          </dxi-column>
          <dxi-column dataField="namedRole" dataType="string" caption="namedRole">
            <dxi-validation-rule type="required"></dxi-validation-rule>
            <dxo-lookup [dataSource]="listNameRole" displayExpr="codeDesc" valueExpr="codeId">
            </dxo-lookup>
          </dxi-column>
          <dxi-column dataField="seqNo" dataType="string" caption="seqNo">
          </dxi-column>
          <dxi-column dataField="conditionMatchAction" dataType="string" caption="conditionMatchAction">
          </dxi-column>
          <dxo-selection mode="single"></dxo-selection>
          <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true">
          </dxo-editing>
          <dxo-paging [pageSize]="20"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [showNavigationButtons]="true" [allowedPageSizes]="[20, 50, 100]"
            [showInfo]="true"></dxo-pager>
        </dx-data-grid>
      </div>
    </div>
  </section>
</div>