<ng-template #template >
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-primary idrequest-search">
          <div class="box-body">
            <form class="form-horizontal" name="formsearch" #ff="ngForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="postDate" class="col-sm-4 control-label">Name</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="employeeName" name="employeeName" [(ngModel)]="searchModel.employeeName" #employeeName="ngModel"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="Subject" class="col-sm-4 control-label">Mobile</label>

                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="mobile" name="mobile" [(ngModel)]="searchModel.mobile" #mobile="ngModel" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">

                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label"> subsidary</label>

                    <div class="col-sm-7">
                      <select class="form-control" [(ngModel)]="searchModel.subsidary" name="subsidary" #subsidary="ngModel">
                        <option value=""></option>
                        <option *ngFor="let c of listServiceTypes" [ngValue]="c.subsidiaryId">{{c.subsidiaryName}}</option>
                      </select>
                    </div>
                  </div>


                </div>

              </div>
            </form>
          </div>
          <div class="box-footer group-btn-right">
            <!-- <button type="button" class="btn btn-default pull-right btn-sm">Export Excel</button>  -->
            <button type="button" (click)="search()" class="btn btn-primary pull-right btn-sm">Search</button>
          </div>
        </div>

      </div>

    </div>
    <!-- Info boxes -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <dx-data-grid #gridContainer id="gridContainer" [dataSource]="dataSource" keyExpr="employeeId" (onRowClick)='rowClickEvent' [showBorders]="true">
          <dxo-group-panel [visible]="true"></dxo-group-panel>
          <dxo-state-storing [enabled]="true" type="custom"></dxo-state-storing>
          <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
          <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
          <dxi-column caption="Employee Name" dataField="employeeName" cellTemplate="diffCellTemplate"></dxi-column>
          <dxi-column dataField="subsidiaryName" caption="Subsidiary">
          </dxi-column>
          <dxi-column dataField="divisionDesc">
          </dxi-column>
          <dxi-column dataField="deptDesc">
          </dxi-column>
          <dxi-column dataField="designation">
          </dxi-column>
          <dxi-column dataField="email">
          </dxi-column>
          <dxo-selection mode="single"></dxo-selection>
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [showNavigationButtons]="true" [allowedPageSizes]="[10, 20, 50, 100]" [showInfo]="true"></dxo-pager>
          <dxo-editing mode="popup" [allowDeleting]="false">
          </dxo-editing>
          <div *dxTemplate="let d of 'diffCellTemplate'">
            <a (click)="rowClickEvent(d.data.employeeId)">
              <span> {{d.value}}</span>
            </a>
          </div>
        </dx-data-grid>
      </div>
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="close()">Close</button>
  </div>
</ng-template>
