<div class="row">
  <div class="col-md-6">
    <form class="form-horizontal" name="formEmployeeDetail" (ngSubmit)="f.form.valid && update()" #f="ngForm">
      <div class="form-group">
        <label for="boardisactive" class="control-label col-md-4">{{languages.boardisactive||'Board Is Active'}}</label>
        <div class="col-md-6">
          <input type="checkbox" id="boardisactive" [(ngModel)]="model.boardisactive" name="boardisactive" 
            #boardisactive="ngModel" />

        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4">{{languages.inactiveboardmessage||'Inactive board message'}}</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="inactiveMessage" [(ngModel)]="model.inactivemessage"
            name="inactiveMessage"  #inactiveMessage="ngModel" />
          <!-- <span *ngIf="f.submitted && !inactiveMessage.valid" class="help-block-custom">
            <i class="fa fa-exclamation-circle" tooltip="Asset Code code is " aria-hidden="true"></i>
          </span> -->
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4">{{languages.systemname||'System name'}}</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="systemname" [(ngModel)]="model.systemname" name="systemname"
             #systemname="ngModel" />
        </div>
      </div>
      <div class="form-group">
        <label
          class="control-label col-md-4">{{languages.administratoremailaddress||'Administrator Email Address'}}</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="administratoremailaddress"
            [(ngModel)]="model.administratoremailaddress" name="administratoremailaddress" 
            #administratoremailaddress="ngModel" />
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-4">{{languages.alertandnotifyemail||'Alert and notify email'}}</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="alertandnotifyemail" [(ngModel)]="model.alertandnotifyemail"
            name="alertandnotifyemail"  #alertandnotifyemail="ngModel" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4">{{languages.address||'Address'}}</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="address" [(ngModel)]="model.address" name="address" 
            #address="ngModel" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4">{{languages.hotline||'Hot line'}}</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="hotline" [(ngModel)]="model.hotline" name="hotline" 
            #hotline="ngModel" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4">{{languages.fax||'fax'}}</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="fax" [(ngModel)]="model.fax" name="fax"  #fax="ngModel" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4">{{languages.datetimeformat||'Date Time Format'}}</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="datetimeformat" [(ngModel)]="model.datetimeformat"
            name="datetimeformat"  #datetimeformat="ngModel" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4">{{languages.defaultcurrency||'Default currency'}}</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="defaultcurrency" [(ngModel)]="model.defaultcurrency"
            name="defaultcurrency"  #defaultcurrency="ngModel" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4">{{languages.workingday||'Working day'}}</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="workingday" [(ngModel)]="model.workingday"
            name="workingday"  #workingday="ngModel" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4">{{languages.employeecodeprefix||'Employee Code Prefix'}}</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="employeecodeprefix" [(ngModel)]="model.empcodepre"
            name="employeecodeprefix"  #employeecodeprefix="ngModel" />
        </div>
      </div>
      <div>
      
          <button class="btn btn-primary">Submit</button>
       
      </div>
    </form>
  </div>

</div>