<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{languages.timesheet}}
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> {{languages.home}}</a></li>
      <li class="active">{{languages.timesheet}}</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-primary idrequest-search">
          <div class="box-header with-border">
            <i class="ion ion-clipboard"></i>
            <h3 class="box-title">{{languages.search}}</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-primary btn-xs pull-right" data-widget="collapse" data-toggle="tooltip"
                title="Collapse" style="margin-right: 5px;">
                <i class="fa fa-minus"></i></button>
            </div>
          </div>
          <div class="box-body">
            <form class="form-horizontal" name="formsearch" #ff="ngForm">
              <div class="row">
                
                <div class="col-lg-c4 col-md-c6">
                  <div class="form-group">
                    <label for="postDate" class="col-sm-4 control-label">{{languages.date}}</label>
                    <div class="col-sm-4 date-from">
                      <dx-date-box width="100%" [showClearButton]="false" displayFormat="dd/MM/yyyy" type="date"
                        [(value)]="bsRangeValue[0]">
                      </dx-date-box>
                    </div>
                    <div class="col-sm-4">
                      <dx-date-box width="100%" [min]="bsRangeValue[0]" [showClearButton]="false" displayFormat="dd/MM/yyyy" type="date"
                        [(value)]="bsRangeValue[1]">
                      </dx-date-box>
                    </div>
                  </div>
                </div>

                <div class="col-lg-c4 col-md-c6" *ngIf="listEmployee.length>0">
                  <div class="form-group" >
                    <label for="Subject" class="col-sm-4 control-label">{{languages.employee}}</label>
                    <div class="col-sm-8">
                      <select class="form-control" [(ngModel)]="searchModel.employeeId" name="userId" #userId="ngModel">
                        <option value=""></option>
                        <option *ngFor="let c of listEmployee" [ngValue]="c.employeeId">{{c.employeeName}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-c4 col-md-c6">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">{{languages.status}}</label>
                    <div class="col-sm-8">
                      <select class="form-control" [(ngModel)]="searchModel.status" name="status" #status="ngModel">
                        <option value=""></option>
                        <!-- <option *ngFor="let c of listStatus" [ngValue]="c.codeId">{{c.codeDesc}}</option> -->
                        <option *ngFor="let c of listStatus" [ngValue]="c.codeId">{{languages[c.codeDesc|removewhitespaces]||c.codeDesc}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-7">
                      <dx-check-box class="col-sm-6" [(value)]="IsCheckTime" text="Blank time"></dx-check-box>
                    </div>

                  </div>

                </div>

              </div>

            </form>
          </div>
          <div class="box-footer group-btn-right">
            <!-- <button type="button" (click)="openModalWithComponent()" class="btn btn-info pull-right btn-sm">New Request</button>  -->
            <button type="button" (click)="report()" class="btn btn-info pull-right btn-sm">{{languages.report||'Print'}}</button>
            <button type="button" (click)="search()" class="btn btn-primary pull-right btn-sm">{{languages.search}}</button>

          </div>
        </div>

      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- Info boxes -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-primary">
          <!-- <div class="box-header">
              <i class="ion ion-clipboard"></i>
              <h3 class="box-title">List ID Request</h3>
          </div> -->
          <div class="box-body">
            <dx-data-grid  #gridContainer id="gridContainer" [dataSource]="dataSource" keyExpr="id" (onRowPrepared)="formatRow($event)">
              <dxo-group-panel [visible]="true"></dxo-group-panel>
              <dxo-state-storing [enabled]="true" type="custom"></dxo-state-storing>
              <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
              <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
              <dxi-column dataType="string" dataField="employeeName" caption="{{languages.employee}}" cellTemplate="diffCellTemplate">
              </dxi-column>
              <dxi-column  dataField="createDate" dataType="date2" caption="{{languages.date}}" >
              </dxi-column>

              <dxi-column alignment="center" style="background: black" dataField="startTime" caption="{{languages.starttime}}" cellTemplate="DateTimeTemplate">
              </dxi-column>
              <dxi-column alignment="center" dataField="endTime" caption="{{languages.endtime}}" cellTemplate="DateTimeTemplateEndtime">
              </dxi-column>
              <dxi-column dataType="number" dataField="workHour" caption="{{languages.workhour}}">
              </dxi-column>
              <dxi-column   dataType="number" dataField="overtTimeHour" caption="{{languages.overtimehour}}">
              </dxi-column>
              <dxi-column alignment="center" dataField="manualPostReason" caption="{{languages.manualpostreason}}">
              </dxi-column>
              <dxi-column alignment="center" dataField="approveType" caption="{{languages.approvetype}}"></dxi-column>
              <dxi-column alignment="center" dataField="approvedNameBy" caption="{{languages.approvednameby}}"></dxi-column>
              <!-- <dxi-column caption="" dataField="annId" cellTemplate="diffStatusTemplate"></dxi-column> -->
              <dxo-selection mode="single"></dxo-selection>
              <dxo-paging [pageSize]="10"></dxo-paging>
              <dxo-pager [showPageSizeSelector]="true" [showNavigationButtons]="true" [allowedPageSizes]="[10, 20, 50, 100]"
                [showInfo]="true"></dxo-pager>
              <dxo-editing mode="popup" [allowDeleting]="false">
              </dxo-editing>
              <div *dxTemplate="let d of 'diffCellTemplate'">
                <a (click)="openModalWithComponent(d)">
                {{d.value}} </a>
              </div>
              <div *dxTemplate="let d of 'diffStatusTemplate'">
                <div style="text-align:center" class="box-grid-action">
                  <a (click)="edit(d.value)"><i class="fa fa-pencil-square-o fa-1x"></i></a>
                  <a (click)="delete(d.value)"><i class="fa fa-trash-o fa-1x"></i></a>
                </div>
              </div>
              <div *dxTemplate="let d of 'DateTimeTemplate'">
                <!-- <span *ngIf="colortimestarttime(d.value)==1" style="color: red;font-weight: bold;">{{convertLocalTime(d.value)}}</span>
                <span *ngIf="colortimestarttime(d.value)==0">{{convertLocalTime(d.value)}}</span> -->
                <span >{{convertLocalTime(d.value)}}</span>
              </div>
              <div *dxTemplate="let d of 'DateTimeTemplateEndtime'">
                <!-- <span *ngIf="colortimeendtime(d.value)==0" style="color: red;font-weight: bold;">{{convertLocalTime(d.value)}}</span>
                <span *ngIf="colortimeendtime(d.value)==1">{{convertLocalTime(d.value)}}</span> -->
                <span>{{convertLocalTime(d.value)}}</span>
              </div>
            </dx-data-grid>
          </div>
          <div class="box-footer"></div>
        </div>

      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
