<div class="modal-header">
  <h4 class="modal-title pull-left">{{languages.addnewitrequest}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form name="formaddnew" class="form-horizontal" (ngSubmit)="f.form.valid && addnew()" #f="ngForm" novalidate>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="box box-primary idrequest-search">
        <!-- <div class="box-header with-border">
            <i class="ion ion-clipboard"></i>
            <h3 class="box-title"> ID Request New</h3>
        </div> -->
        <div class="box-body">
          
            <div class="row">
              <div class="col-md-12">
                    <div class="form-group">
                        <label for="iDService" class="col-sm-2 control-label" >{{languages.itservice}} &nbsp;<span class="required" [innerHTML]="required"></span></label>
                        <div class="col-sm-4">
                          <select class="form-control" id="iTService" name="iTService" [(ngModel)]="model.iTService" #iTService="ngModel" required>
                            <!-- <option *ngFor="let c of listItServices" [ngValue]="c.codeId" >{{c.codeDesc}}</option> -->
                            <option *ngFor="let c of listItServices" [ngValue]="c.codeId" >{{languages[c.codeDesc|removewhitespaces]||c.codeDesc}}</option>
                          </select>
                          <span *ngIf="f.submitted && !iTService.valid" class="help-block-custom"><i class="fa fa-exclamation-circle" tooltip="ID Service is required" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="SvcType" class="col-sm-2 control-label" >{{languages.servicetype}}&nbsp;<span class="required" [innerHTML]="required"></span></label>
      
                        <div class="col-sm-4">
                          <!-- <input  class="form-control" id="loginName" [(ngModel)]="model.loginName"  name="loginName" #loginName="ngModel" [required]="model.existedUserId==0 ? true:null"/> -->
                          <select class="form-control" id="SvcType" name="SvcType" [(ngModel)]="model.SvcType" #SvcType="ngModel" required>
                            <!-- <option *ngFor="let c of listServiceTypes" [ngValue]="c.codeId" >{{c.codeDesc}}</option> -->
                            <option *ngFor="let c of listServiceTypes" [ngValue]="c.codeId" >{{languages[c.codeDesc|removewhitespaces]||c.codeDesc}}</option>
                          </select>
                          <span *ngIf="f.submitted && !SvcType.valid" class="help-block-custom">
                            <i class="fa fa-exclamation-circle" tooltip="Servise Type is required" aria-hidden="true"></i>
                          </span>
                          <!-- <div *ngIf="f.submitted && !loginName.valid" class="help-block">user Id is required</div> -->
                        </div>
                        <label for="gender" class="col-sm-2 control-label">{{languages.priority}}&nbsp;<span class="required" [innerHTML]="required"></span></label>
      
                        <div class="col-sm-4">
                          <!-- <input  class="form-control" [(ngModel)]="model.gender" id="gender" #gender="ngModel" name="gender" /> -->
                          <select class="form-control" [(ngModel)]="model.priority" id="priority" #priority="ngModel" name="priority" required>
                              <!-- <option *ngFor="let c of listPrioritys" [ngValue]="c.codeId" >{{c.codeDesc}}</option> -->
                              <option *ngFor="let c of listPrioritys" [ngValue]="c.codeId" >{{languages[c.codeDesc|removewhitespaces]||c.codeDesc}}</option>
                          </select>
                          <span *ngIf="f.submitted && !priority.valid" class="help-block-custom">
                            <i class="fa fa-exclamation-circle" tooltip="Priority is required" aria-hidden="true"></i>
                          </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="iDService" class="col-sm-2 control-label">{{languages.subject}}&nbsp;<span class="required" [innerHTML]="required"></span></label>
                        <div class="col-sm-10">
                            <input  class="form-control" id="Subject" [(ngModel)]="model.Subject"  name="Subject" #Subject="ngModel" required/>
                            <span *ngIf="f.submitted && !Subject.valid" class="help-block-custom">
                                <i class="fa fa-exclamation-circle" tooltip="Subject is required" aria-hidden="true"></i>
                              </span>
                        </div>
                    </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="box box-primary">
              <div class="box-body">
                <div class="form-group">
                  <label for="remark" class="col-sm-2 control-label">{{languages.description}}&nbsp;<span class="required"></span></label>
                  <div class="col-sm-10">
                    <app-tiny-editor
                      [elementId]="'remark'"
                      (onEditorKeyup)="keyupHandlerFunction($event)"
                      [(tinymceModel)]="model.Details"
                      [tmHeight]="130" >
                    </app-tiny-editor>
                    <span *ngIf="f.submitted && !content.valid" class="help-block-custom">
                        <i class="fa fa-exclamation-circle" tooltip="Details is required" aria-hidden="true"></i>
                      </span>
                      <textarea class="form-control" id="content" style="display:none" name="content" #content="ngModel" [(ngModel)]="areacontent.content"  required></textarea>
                  </div>
              </div>
              <div class="form-group">
                  <label for="attachment" class="col-sm-2 control-label">{{languages.attachment}}</label>
                  <div class="col-sm-10">
                      <div class="row">
                          <div class="col-md-12">
                            <app-fileupload 
                              projectId="100" 
                              sectionId="107" 
                              maxFiles="4"
                              maxSize="2"
                              fileExt="JPG, GIF, PNG">
                            </app-fileupload>
                          </div>
                        </div>
                  </div>
              </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12 group-btn-right">
        <button type="button" class="btn btn-default pull-right" (click)="bsModalRef.hide()">{{languages.close}}</button>
        <button type="submit" class="btn btn-primary pull-right" [disabled]="IsSubmit">{{languages.submit}}</button>
    </div>
  </div>
</form>
</div>

 