<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="box box-primary idrequest-search">
        <div class="box-header with-border">
          <i class="ion ion-clipboard"></i>
          <h3 class="box-title"> {{languages.general}}</h3>
          <div class="pull-right box-tools">
            <button type="button" class="btn btn-primary btn-xs pull-right" data-widget="collapse" data-toggle="tooltip"
              title="Collapse" style="margin-right: 5px;">
              <i class="fa fa-minus"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <ul class="ul-list-content">
                <li>
                  <label class="lbl-title">Subject</label>
                  <span> {{model.svrSubject}}
                  </span>
                </li>
                <li>
                  <label class="lbl-title">Service Type</label>
                  <span>{{model.applicationDesc}}</span>
                </li>
                <li>
                  <label class="lbl-title">Remark</label>
                  <span>{{model.remark}}</span>
                </li>
                <li>
                  <label class="lbl-title">Attched File</label>
                  <div>
                    <ul class="list-attachfile-view">
                      <li *ngFor="let c of documents" class="item-files">
                        <i class="fa fa-bolt" aria-hidden="true"></i>
                        <a target="_blank" (click)="fileSvc.downloadFile(c.docNo)">{{c.dFileName}}</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="ul-list-content">
                <li>
                  <label class="lbl-title">Requester</label>
                  <span>{{model.createUserName}}</span>
                </li>
                <li>
                  <label class="lbl-title">Due date</label>
                  <span>{{model.dueDate|date:'dd/MM/yyyy'}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="box-footer group-btn-right">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="box box-primary">
        <div class="box-body">
          <div class="row">
              <div class="col-md-12">
                  <dx-data-grid #gridContainer
                  id="gridContainer" 
                  [dataSource]="dataSource"
                  keyExpr="id" 
                  >
                  <dxo-group-panel [visible]="true"></dxo-group-panel>
                  <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

                  <dxo-sorting
                      mode="none"> <!-- or "multiple" | "none" -->
                  </dxo-sorting>
                  <dxi-column dataField="replyType" caption="Action Type">
                  </dxi-column>
                  <dxi-column dataField="createUser" caption="Name">
                  </dxi-column>
                  <dxi-column dataField="svrStatusDesc" caption="Status" cellTemplate="diffStatusTemplate">
                  </dxi-column>
                  <dxi-column dataField="approveType" caption="Approval Type">
                  </dxi-column>
                  <dxi-column dataField="comment">
                  </dxi-column>
                  <dxi-column dataField="process" caption="Processer">
                  </dxi-column>
                  <dxi-column dataField="createDate" dataType="datetime2">
                  </dxi-column>
                  <dxo-selection mode="single"></dxo-selection>
                  
                  <dxo-paging [pageSize]="10"></dxo-paging>
                  <dxo-pager
                      [showPageSizeSelector]="true"
                      [showNavigationButtons]="true"
                      [allowedPageSizes]="[10, 20, 50, 100]"
                      [showInfo]="true"
                  ></dxo-pager>
                <dxo-editing mode="popup"  [allowDeleting]="false">
                </dxo-editing>
                <div *dxTemplate="let d of 'diffCellTemplate'">
                  <a href="#" class="dx-link dx-link-delete dx-icon-trash" routerLink="../itservicerequest/{{d.value}}">
                    <span> </span></a>
                </div>
                
                <div *dxTemplate="let d of 'diffStatusTemplate'">
                  <span class="label status-{{d.value}}">{{d.value}}</span>
                </div>
                </dx-data-grid>

              </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>