.col-date1 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 1478px)
{
    .col-date1 {
        float: left;
    }

    .col-date1 {
        width: 44.4444444%;
    }
}

@media (max-width: 1478px)
{
    .col-date1 {
        float: left;
    }

    .col-date1 {
        width: 88.88888889%;
    }
}

@media (max-width: 1477px) {
    .date-from1 {
        margin-bottom: 5px;
    }
}
