<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{languages.activitys||'Activitys'}}
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> {{languages.home}}</a>
      </li>
      <li class="active"> {{languages.activitys||'Activitys'}}</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-primary idrequest-search">
          <div class="box-header with-border">
            <i class="ion ion-clipboard"></i>
            <h3 class="box-title"> {{languages.search}}</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-primary btn-xs pull-right" data-widget="collapse"
                data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
                <i class="fa fa-minus"></i></button>
            </div>
          </div>
          <div class="box-body">
            <form class="form-horizontal" name="formsearch" #ff="ngForm">
              <div class="row">
               
                <div class="col-lg-c4 col-md-c6">
                  <div class="form-group">
                    <label for="postDate" class="col-sm-4 control-label">{{languages.submitdate}}</label>
                    <div class="col-sm-4 date-from">
                      <dx-date-box width="100%" [showClearButton]="false" displayFormat="dd/MM/yyyy" type="date"
                        [(value)]="searchModel.DateF">
                      </dx-date-box>
                    </div>
                    <div class="col-sm-4">
                      <dx-date-box width="100%" [min]="searchModel.DateF" [showClearButton]="false"
                        displayFormat="dd/MM/yyyy" type="date" [(value)]="searchModel.DateT">
                      </dx-date-box>
                    </div>
                  </div>
                </div>

                <div class="col-lg-c4 col-md-c6">
                    <div class="form-group">
                      <label for="postDate" class="col-sm-4 control-label">{{languages.type||'Type'}}</label>
                      <div class="col-sm-8">
                          <select class="form-control" [(ngModel)]="searchModel.type" name="type" #type="ngModel">
                            <option value=""></option>
                            <option *ngFor="let c of listType" [ngValue]="c.codeId">{{languages[c.codeDesc|removewhitespaces]||c.codeDesc}}</option>
                          </select>
                      </div>
                    </div>
                </div>

                <div class="col-lg-c4 col-md-c6">
                  <div class="form-group">
                    <label for="postDate" class="col-sm-4 control-label">{{languages.subject}}</label>
                    <div class="col-sm-8">
                      <input class="form-control" name="subject" [(ngModel)]="searchModel.subject" #subject="ngModel">
                    </div>
                  </div>
                </div>

                <div class="col-lg-c4 col-md-c6">
                  <div class="form-group">
                    <label for="postDate" class="col-sm-4 control-label">{{languages.status||'Status'}}</label>
                    <div class="col-sm-8">
                      <select class="form-control" [(ngModel)]="searchModel.Status" name="Status" #Status="ngModel">
                      <option value=""></option>
                      <!-- <option *ngFor="let c of listStatus" [ngValue]="c.codeId">{{c.codeDesc}}</option> -->
                      <option *ngFor="let c of listStatus" [ngValue]="c.codeId">{{languages[c.codeDesc|removewhitespaces]||c.codeDesc}}</option>
                    </select>
                    </div>
                  </div>
                </div>

                <div class="col-lg-c4 col-md-c6">
                  <div class="form-group">
                    <label for="DivisionId" class="col-sm-4 control-label">{{languages.assigned||'Assigned'}} </label>
                    <div class="col-sm-8">
                      <dx-select-box    [(value)]="searchModel.assigned"   [items]="listEmp" displayExpr="employeeName" valueExpr="employeeId" [searchEnabled]="true">
                      </dx-select-box>
                    </div>
                  </div>
                </div>
                <div class="col-lg-c4 col-md-c6">
                   
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label"> {{languages.department}}</label>
                    <div class="col-sm-8">
                      <select class="form-control" [(ngModel)]="searchModel.departmentId" name="department"
                        #department="ngModel">
                        <option value=""></option>
                        <option *ngFor="let c of departments" [ngValue]="c.deptCode">{{c.deptDesc}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="box-footer group-btn-right">
            
            <button type="button" (click)="addnew()" class="btn btn-info pull-right btn-sm">{{languages.addnew||'Add New'}}
            </button>
            <button type="button" (click)="search()" class="btn btn-primary pull-right btn-sm">{{languages.search}}
            </button>
          </div>
        </div>

      </div>

    </div>
    <!-- Info boxes -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-primary">
          <div class="box-body">
            <dx-data-grid #gridContainer id="gridContainer" [dataSource]="dataSource" keyExpr="actNo">
              <dxo-export [enabled]="true" fileName="StationaryReport"></dxo-export>
              <dxo-group-panel [visible]="true"></dxo-group-panel>
              <dxo-state-storing [enabled]="true" type="custom"></dxo-state-storing>
              <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
              <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
              <dxi-column dataField="actNo" cellTemplate="EditStatusTemplate" caption="{{languages.subject||'Subject'}}">
              </dxi-column>
              <dxi-column dataField="activityDate" dataType="date2" caption="{{languages.date}}">
              </dxi-column>
              <dxi-column dataField="assignedPersonName" caption="{{languages.assigned||'Assigned'}}">
              </dxi-column>
              <dxi-column dataField="activityTypeDesc" caption="{{languages.type}}">
              </dxi-column>
             
              <dxi-column dataField="relatedParty" caption="{{languages.relatedparty||'Related Party'}}">
              </dxi-column>
              <dxi-column dataField="statusDesc" caption="{{languages.status||'status'}}" cellTemplate="diffStatusTemplate">
              </dxi-column>
              <dxi-column dataField="createdUserName" dataType="string" caption="{{languages.createdby||'Created By'}}">
              </dxi-column>
              <dxi-column dataField="createdOn" dataType="date2" caption="{{languages.createddate||'Created Date'}}">
              </dxi-column>
              <dxi-column caption="" dataField="actNo" cellTemplate="ActionStatusTemplate"></dxi-column>
              <dxo-selection mode="single"></dxo-selection>
              <dxo-paging [pageSize]="10"></dxo-paging>
              <dxo-pager [showPageSizeSelector]="true" [showNavigationButtons]="true"
                [allowedPageSizes]="[10, 20, 50, 100]" [showInfo]="true"></dxo-pager>
              <dxo-editing mode="popup" [allowDeleting]="false">
              </dxo-editing>
              <div *dxTemplate="let d of 'diffStatusTemplate'">
                <span class="label status-{{d.data.status|lowercase}}">{{d.value}}</span>
              </div>
              <div *dxTemplate="let d of 'EditStatusTemplate'">
                  <a (click)="ViewDetail(d.value)"><span>{{d.data.subject}}</span></a>
              </div>
              <div *dxTemplate="let d of 'ActionStatusTemplate'">
                <div class="dx-btn-group">
                    <a *ngIf="d.data.createdBy==currentuser.employeeId" (click)="edit(d.value)" class="fa fa-pencil-square-o fa-1x">
                    </a>
                    <a *ngIf="d.data.createdBy==currentuser.employeeId" (click)="delete(d.value)" class="fa fa-trash-o fa-1x">
                    </a>
                  </div>

            </div>
            </dx-data-grid>
          </div>
        </div>
      </div>
    </div>
  </section>
