<div class="content-wrapper">
  <section class="content-header">
    <h1>
      {{this.languages.servicerequest||'Service Request'}}
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> {{this.languages.home}}</a></li>
      <li class="active">{{this.languages.servicerequest||'Service Request'}}</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-primary idrequest-search">
          <div class="box-header with-border">
            <i class="ion ion-clipboard"></i>
            <h3 class="box-title">{{this.languages.search}}</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-primary btn-xs pull-right" data-widget="collapse"
                data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
                <i class="fa fa-minus"></i></button>
            </div>
          </div>
          <div class="box-body">
            <form class="form-horizontal" name="formsearch" #ff="ngForm">
              <div class="row">
                <div class="col-lg-c4 col-md-c6">
                  <div class="form-group">
                    <label for="postDate" class="col-sm-4 control-label">{{this.languages.submitdate}}</label>
                    <div class="col-sm-4 date-from">
                      <dx-date-box width="100%" [showClearButton]="false" displayFormat="dd/MM/yyyy" type="date"
                        [(value)]="bsRangeValue[0]">
                      </dx-date-box>
                    </div>
                    <div class="col-sm-4">
                      <dx-date-box width="100%" [min]="bsRangeValue[0]" [showClearButton]="false"
                        displayFormat="dd/MM/yyyy" type="date" [(value)]="bsRangeValue[1]">
                      </dx-date-box>
                    </div>
                  </div>
                </div>

                <div class="col-lg-c4 col-md-c6">
                  <div class="form-group">
                    <label for="Subject"
                      class="col-sm-4 control-label">{{this.languages.applicationtype||"Application Type"}}</label>
                    <div class="col-sm-8">
                      <select class="form-control" [(ngModel)]="searchModel.Type" name="Type" #Type="ngModel">
                        <option value=""></option>
                        <option *ngFor="let c of listServiceTypes" [ngValue]="c.applicationCode">
                          {{languages[c.applicationDesc|removewhitespaces]||c.applicationDesc}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-c4 col-md-c6">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">{{this.languages.status}}</label>
                    <div class="col-sm-8">
                      <select class="form-control" [(ngModel)]="searchModel.Status" name="Status" #Status="ngModel">
                        <option value=""></option>
                        <option *ngFor="let c of listStatus" [ngValue]="c.codeId">{{languages[c.codeDesc|removewhitespaces]||c.codeDesc}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          
          <div class="box-footer group-btn-right">
            <button routerLink="addnew" class="btn btn-info pull-right btn-sm">{{this.languages.new}}</button>
            <button type="button" (click)="search()"
              class="btn btn-primary pull-right btn-sm">{{this.languages.search}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-primary">
          <div class="box-body">
            <dx-data-grid #gridContainer id="gridContainer" [dataSource]="dataSource" keyExpr="svrNo">
              <dxo-group-panel [visible]="true"></dxo-group-panel>
              <dxo-state-storing [enabled]="true" type="custom"></dxo-state-storing>
              <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
              <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

              <dxi-column dataField="svrNo" dataType="string" caption="{{this.languages.code||'SVRNo'}}"
                cellTemplate="diffPopupTemplate">
              </dxi-column>
              <dxi-column dataField="createDate" dataType="datetime2" caption="{{this.languages.submitdate}}">
              </dxi-column>
              <dxi-column dataField="svrSubject" dataType="string" caption="{{this.languages.subject}}">
              </dxi-column>
              <dxi-column dataField="svrServiceType" dataType="string" caption="{{this.languages.servicetype}}">
              </dxi-column>
              <dxi-column dataField="dueDate" dataType="date" format="dd/MM/yyyy" caption="{{this.languages.duedate||'Due Date'}}">
              </dxi-column>
              <dxi-column caption="{{this.languages.status||'Status'}}" dataType="string" dataField="svrStatusDesc"
                cellTemplate="diffStatusTemplate2"></dxi-column>
              <dxi-column caption="" dataField="svrNo" cellTemplate="diffStatusTemplate"></dxi-column>

              <dxo-selection mode="single"></dxo-selection>
              <dxo-paging [pageSize]="10"></dxo-paging>
              <dxo-pager [showPageSizeSelector]="true" [showNavigationButtons]="true"
                [allowedPageSizes]="[10, 20, 50, 100]" [showInfo]="true"></dxo-pager>
              <dxo-editing mode="popup" [allowDeleting]="false">
              </dxo-editing>
              <div *dxTemplate="let d of 'diffCellTemplate'">
                <a href="#" class="dx-link dx-link-delete dx-icon-trash" routerLink="../servicerequest/{{d.value}}">
                  <span> </span></a>
              </div>
              <div *dxTemplate="let d of 'diffStatusTemplate'">
                <div class="dx-btn-group">
                  <a routerLink="../servicerequest/{{d.value}}" class="fa fa-pencil-square-o fa-1x"></a>
                  <a *ngIf="d.data.svrStatus == 'DRAF' || IsRoleID" (click)="delete(d.value)"
                    class="fa fa-trash-o fa-1x"></a>
                </div>
              </div>
              <div *dxTemplate="let d of 'diffPopupTemplate'">
                <a (click)="popup(d.value)">{{d.value}}</a>
              </div>
              <div *dxTemplate="let d of 'diffStatusTemplate2'">
                <span class="label status-{{d.value}}">{{d.value}}</span>
              </div>
            </dx-data-grid>
          </div>
          <div class="box-footer"></div>
        </div>
      </div>
    </div>
  </section>
</div>