<div class="content-wrapper">
    <section class="content-header">
        <h1>
          {{title}}
          <small></small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> {{this.languages.home}}</a></li>
          <li class="active">{{this.languages.gallery||'Gallery'}}</li>
        </ol>
      </section>
  <section class="content">
    <div class="row">
        <div class="col-md-12">
            <app-photogallery [isShowCategory]="true" sliderWidth="100%" sliderHeight="500px"></app-photogallery>
        </div>
    </div>
  </section>
</div>


